.heading{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    border: 1px solid white;
    background-color: #191919;
}
body{
    background-color:#DFE2DB;
}
.container{
    width: 80%;
    margin: auto;
}
table {
    border-collapse: collapse;
}
table, th, td  {
    border: 2px solid white;
    align-items: center;
    padding-right: 20px;
}
.portrait{
    height: 200px;
    width: 200px;
    margin-left: 10px;
}
.headline{
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
}
.goodday{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}
.nav-link{
    color: #FFF056;
    list-style: none;
}
.my-name{
    color:#FFFFFF;
    font-size: 20px;
    text-align: right;
}
input{
    color: black;
    width: 50%;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-color:white;
}
.name{
    padding-bottom: 20px;
}
.submit{
    color:white;
    background-color:#191919;
}
.cssreset{
    padding:0;
    margin:0;
}
.link {
    color: #636;
}