body {
    margin: auto;
    height: 100vh;
}

.heading {
    color: #FFFFFF;
    font-size: 40px;
    font-family:sans-serif;
    text-align: center;
    border: 1px solid white;
    background-color: lightslategray;
}

.headline {
    text-align: center;
   color: white;
}

body {
    background-color:#DFE2DB;
}

.container {
    width: 80%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto;
}

table, th, td  {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

img {
    width: 30%; 
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 30px;;
}

.email  {
    text-align: center;
    color: lightslategray;
    padding-top: 10px;;
}

.goodday {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}